:root {
  --pink-header: #e6d1d3;
  --body-bg-color: #fdf7f6;
  --poppins-font: "Poppins", sans-serf;
  --play-fair: "Playfair Display", serif;
  --brown-text: #a08241;
  --dark-rose: #b38185;
  --secondary-text-color: #797979;
  --rose: #e4b0b4;
}

body {
  background-color: var(--body-bg-color);
}

.fs-18-px {
  font-size: 18px;
}

.fw-500 {
  font-weight: 500;
}

p,
button,
li,
a,
h3,
label {
  font-family: var(--poppins-font);
}

.image-specs {
  width: 100%;
  object-fit: cover;
}

img.iconly-light-arrow-down-2 {
  width: 10px;
  height: 10px;
  margin: 39px 515px 43px 6px;
  object-fit: contain;
  background-color: #000;
}

img.Rhoda-logo {
  width: 99px;
  mix-blend-mode: multiply;
}

.collection-images-style {
  color: white;
  font-size: 20px;
  align-items: center;
  position: absolute;
  z-index: 1000;
  bottom: 26px;
  left: 33px;
}

.dropdown button::after {
  content: none;
}

.featured-content-text,
.categories-content-text {
  font-size: 36px;
  font-family: var(--play-fair);
  color: var(--brown-text);
  text-align: center;
  padding-bottom: 71px;
}

.featured-content-text::after {
  content: "";
  width: 113px;
  height: 5px;
  background: var(--dark-rose);
  margin: 21px auto;
  display: flex;
}

.content-body {
  padding-left: 135px;
  padding-right: 135px;
}

.logo-brands {
  width: 114px;
}

.featured-categories-link {
  color: black;
  text-decoration: none;
}

/* .featured-categories-link::after {
  color: var(--dark-rose);
} */

.featured-categories-link:hover {
  color: var(--dark-rose);
  text-decoration: underline;
}

h1 {
  font-family: PlayfairDisplay;
  color: white;
}

.elegance-super-curated {
  font-family: PlayfairDisplay;
  color: var(--brown-text);
  font-size: 53px;
}

.status-div {
  width: 91px;
  height: 42px;
  background: var(--rose);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

.quick-view {
  border: solid 1.5px var(--dark-rose);
  color: var(--dark-rose);
}

.add-to-cart {
  border: solid 1.5px var(--brown-text);
  background: var(--brown-text);
  color: white;
}

.image-hover:hover .button-select {
  bottom: 0px;
}

.shop-now-1 {
  color: white;
  border: white solid 2px;
}

.shop-now-2 {
  color: var(--dark-rose);
  border: var(--dark-rose) solid 2px;
}

/* .featured-heading {
  text-align: center;
}

.featured-border-style {
  width: 100px;
  border: 2px solid var(--dark-rose);
  background: var(--dark-rose);
  transform: translateX(157px);
} */

.testimonials-border-style {
  height: 250px;
  border-left: 2px solid var(--brown-text);
}

img.profile-pic {
  width: 99px;
}

.page-link {
  color: var(--dark-rose);
  font-weight: 500;
  transition: all 0.5s ease;
  transform: scale(1);
}

.page-link:hover {
  color: var(--dark-rose);
  transform: scale(1.1);
  filter: brightness(110%);
}

footer,
.footer-style {
  background-color: var(--dark-rose);
  font-family: var(--poppins-font);
  color: white;
}

.birthday-surprise {
  background-color: var(--dark-rose);
  height: max-content;
  left: 50%;
  width: 575px;
}

.font-style-heading {
  font-size: 16px;
  font-weight: 200;
  color: white;
}

.big-heart-tea-banner {
  position: absolute;
  left: 45%;
  top: auto;
}

.footer-title {
  font-size: 34px;
}

h5 {
  font-size: 17px;
}

.footer-menu {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.footer-menu:hover {
  color: white;
  text-decoration: underline;
}

.footer-style {
  list-style: none;
  font-size: 14px;
  font-weight: 300;
}

.newsletter-placeholder {
  width: 210px;
  color: white;
  background: transparent;
  outline: none;
  font-weight: 300;
  border: none;
}

.newsletter-border {
  border-bottom: solid 1px white;
  padding-right: 30px;
}

.footer-brown-border {
  border-top: solid 1px #402c2e;
}

::placeholder {
  color: white;
  font-weight: 300;
  font-size: 14px;
  outline: none;
}

.home-banner-image {
  height: 549px;
}

/* .featured-sec:hover .hover-sec {
  display: contents;
}
.featured-sec .hover-sec {
  display: none;
} */

.accordion-body {
  color: black;
  list-style-type: none;
  text-decoration: none;
  padding-left: 10px;
}

.accordion-header {
  border-bottom: var(--dark-rose) solid 1px;
}

.form-control {
  border: var(--dark-rose) solid 2px;
  border-radius: 0%;
  height: 60px;
}

.submit-form {
  color: white;
  background: var(--brown-text);
  border-radius: 0%;
  border: var(--brown-text) solid 1px;
}

.submit-form:hover {
  color: var(--dark-rose);
  background: transparent;
  border-radius: 0%;
  border: var(--dark-rose) solid 1px;
}

@media (min-width: 1400px) and (max-width: 1900px) {
  .container {
    max-width: 1198px;
  }
}
